.content-wrapper{
    background: transparent;
}

.search{
    display: flex;
}

.add-search{
    margin: 15px 12px;
}


.add {
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.hidden {
    display: none;
}

#paginate {
    margin-top: 20px;
}


/* -------------------------------------- Table custom design starts --------------------------------------------------- */
.show-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.caption {
    caption-side: top;
    text-align: center;
    border: 1px solid #dddddd;
    background: green;
    color: white;
}




.show-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px 10px;
}

.show-table tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}


.invoice-table{
    width: 80%;
}

.invoice-table tr td:nth-child(2){
    text-align: right !important;
    letter-spacing: 0.02em;
}

/* ---------------------------------------- Table custom design end ----------------------------------------------------- */






/* -------------------------------------- Modal part css start here --------------------------------------------------- */
.modal-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5072;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-subject {
    position: relative;
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    max-height: 98%;
    overflow: auto;
}

.modal-heading {
    width: 100%;
    margin-bottom: 30px;
}

.close-modal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 10px;
}

.close-modal:hover {
    color: black;
}

/* -------------------------------------- Modal part css end here --------------------------------------------------- */




/* -------------------------------------- Form inputs custom design starts --------------------------------------------------- */
label{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 12px;
}

.form-input, select {
    font-size: 14px;
    border: 1px solid rgb(222, 226, 230);
    padding: 4px 8px;
    height: 31px;
    width: 100%;
    border-radius: 4px;
}

.form-input:focus,select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.input-small{
    display: block;
    width: 100%;
    height: 23px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
}

.select-small{
    display: block;
    width: auto;
    height: 23px;
    padding: 0px 18px 0px 4px;
    font-size: 12px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
}


.input-small:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}


/* Hide the default dropdown arrow and add background image in it*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px 18px 8px 4px;
    cursor: pointer;
    box-sizing: border-box;
    height: 33px;
    background: url('../images/angle-arrow-down.png') no-repeat right 4px center #fff;
    background-size: 10px;
}

#search{
    width: 40%;
    margin-left: 5px;
}


.addButton{
    margin: 15px 0;
    padding: 5px 20px;
}


/* -------------------------------------- Form inputs custom design end ----------------------------------------------------- */




/* -------------------------------------- Search by input css start here -------------------------------------------------*/

/* select all the div ends with id '-list' and all the div starts with id 'update-' */
div[id$="-list"], div[id^="update-"] {
    max-height: 110px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    width: 92%;
    z-index: 10000;
}


div[id$="-list"] ul, div[id^="update-"] ul {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid gray;
    width: 100%;
}

div[id$="-list"] li, div[id^="update-"] li {
    padding: 0 10px;
    width: 100%;
    z-index: 1000;
}

div[id$="-list"] li:hover, div[id^="update-"] li:hover {
    background-color: #00afffb0;
    cursor: pointer;
}

div[id$="-list"] li:focus, div[id^="update-"] li:focus {
    background-color: #00afffb0;
}

/* -------------------------------------- Search by input css end here -------------------------------------------------*/


.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ------------------------------------ Employee Details Design --------------------------------------------------------*/
.details-head{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.image-round{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 40px;
}

.image-round img{
    padding: 1px;
    border-radius: 50%;
}


.name{
    color: aqua;
    font-size: 30px;
}




.details-table{
    border:1px solid #00e3f7; 
    overflow: hidden;
    padding: 20px 30px;
    margin: 30px 0;
}

.each-row{
    border-bottom:1px solid #00e3f7; 
    padding: 10px 0;
}

.each-row:last-child{
    border-bottom: none;
}

.each-row div:nth-child(2){
    border-right: 1px solid #00e3f7;
}

.bold{
    font-weight: 600;
}


.details ul li{
    margin-bottom: 1px;
    list-style: none;
    background-color: #04f8c1;
    padding: 5px 10px;
    background-image: url('../images/angle-arrow-down.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Move the background image 20px from the right */
    background-size: 20px;
}

.contact, .address, .payroll, .others, .transaction{
    display: none;
}


.transaction{
    margin: 20px 0;
}


